
html {
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(240,169,156,1) 0%, rgba(179,11,148,1) 52%, rgba(84,15,15,1) 99%, rgba(84,15,15,1) 100%);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centerText {
  text-align: center;
}
