body {
  background-color: #222;
}
body.home section{
  background-color: #222;
}
body.home section.gray,body.page section.gray {
  background-color: #191919;
}
.border-top {
  border-top: 1px solid #111;
}
.iva_vc_row .iva-box {
  border-left: 1px solid #111;
}
.iva_vc_row .iva-box:hover {
  background-color: #191919;
}
.iva_vc_row .iva-box h2 {
  color: #aaa;
}
h2.section-title, .team-members h3,.iva-box-2 h3 {
  color: #aaa;
}
.iva_vc_row .team-members .row .column:first-child,
.iva_vc_row .team-members.full .row .column,
.iva_vc_row .team-members.no-team-photo .row .column
 {
    border-right: 1px solid #111;
}
.iva_vc_row .team-members .row {
    border-top: 1px solid #111;
}
.filter-row {
  background-color: #191919;
}
.section-tagline {
  color: #aaa;
}
p {
  color: #adadad;
}
ul.filter > li.active:after,
ul.filter-target > li.active:after {
  border-bottom: 10px solid #222;
}

.table {
  border: 1px solid #222;
}

.table.popular, .table:hover {
  border: 1px solid #111;
  background-color: #222;
}

.iva_vc_row .contact_form input[type="text"],.iva_vc_row .contact_form input[type="email"], .iva_vc_row .contact_form textarea,.iva_vc_row .contact_form input[type="submit"], .iva_vc_row .contact_form select {
  border: 1px solid #111;
  background-color: #191919;
  color: #aaa;
}

.iva_vc_row .contact_form input[type="text"]:focus,.iva_vc_row .contact_form input[type="email"]:focus, .iva_vc_row .contact_form textarea:focus, .iva_vc_row .contact_form select:focus {
  background-color: #191919;
}


#posts .single-blog-post {
  border-bottom: 1px solid #111;
}

#posts .single-blog-post h2 a {
  color: #aaa;
}

#posts .single-blog-post .category {
  color: #aaa;
  border: 1px solid #333;
}

#posts .single-blog-post .single-post {
  border-bottom: 1px solid #111;
}

#posts .single-blog-post h1 a {
  color: #aaa;
}

ul.filter > li.active:after {
  border-bottom: 10px solid #222;
}





#header-section {
  border-bottom: none;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, 0.95);
}

header nav ul li ul li {
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, 0.95);
}

header nav ul li ul:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #191919;
}


@media screen and (max-width: 1024px) {

  

  #header-section.altmenu.header-hide ul li ul li {
      background: #222;
  }

  #header-section.altmenu.header-hide ul li ul:before {
      border-bottom:10px solid #222;
  }

  #header-section #navigation ul li > a {
    color: #adadad;
    border-bottom: 1px solid #333;
  }

  #header-section #navigation {
    background: #191919;
  }

  #quote-request .iva_btn {
    float: none;
  }

  header nav ul li ul:before {
    border-bottom: transparent;
  }

}

@media screen and (max-width: 768px) {

  .iva_vc_row .team-members .row, .iva_vc_row .port-filter > li a {
      border-top: 1px solid #111;
  }
  ul.filter > li a, ul.filter-target > li a, #portfolio #port-filter > li a {
    border-top: 1px solid #222;
  }


  .iva_vc_row .team-members .row {
    border-top: none;
  }

  .iva_vc_row .team-members .row .column {
    border-bottom:1px solid #333;
  }

}